/* General CSS for layout */
body {
    font-family: Arial, sans-serif;
    font-size: 18px;
    margin: 8px;
}

.home {
    width: 45px;
}

.header {
    background-color: #F1F1F1;
    border-bottom: 4px solid #134359;
    margin: 0;
    padding: 5px;
    text-align: center;
}

#resetButton {
    background-color: rgba(0, 50, 50, 0.9);
    border: none;
    color: white;
    cursor: pointer;
    font-size: 16px;
    padding: 10px 20px;
    text-align: center;
    width: 100%;
}

#resetButton:hover {
    background-color: rgba(14, 200, 200, 0.5);
    color: white;
}

#resetImage {
    width: 18px;
/*    padding: 2px;*/
    padding-right: 5px;
}

.row {
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 4px;
    padding: 10px;
}

.column {
    flex-direction: column;
    float: left;
    padding: 10px 20px;
}

.center {
    display: flex;
    margin: auto;
}

.textLeft {
    text-align: left;
}

.textRight {
    text-align: right;
}

.textCenter {
    text-align: center;
}

.fillRowWithTwoColumns {
    column-gap: 30px;
    display: grid;
    grid-auto-flow: row;
    grid-template-columns: 0.5% 8% 72%;
}

.fillRowWithThreeColumns {
    column-gap: 30px;
    display: grid;
    grid-auto-flow: row;
    grid-template-columns: auto auto auto;
}

.fillColumnWithThreeRows {
    background-color: #d3dee3;
    display: grid;
    grid-auto-flow: column;
    grid-template-rows: auto auto auto;
}


/* Select and search drop-down menu */
.stretch {
    display: flex;
    margin: auto;
    width: 80%;
}

#searchBar {
    background-image: url('../static/triangle.png');
    background-position: 10px 12px;
    background-repeat: no-repeat;
    background-size: 20px;
    font-size: 16px;
    padding: 12px 20px 12px 40px;
    width: auto;
}

#searchBar:hover {
    background-color: #F1F1F1;
}

#searchCountries {
    background-color: rgba(0, 50, 50, 0.9);
    display: inline-flex;
    flex-wrap: wrap;
    list-style-type: none;
    margin-top: 0;
    max-height: 405px;
    padding-top: 5px;
    position: absolute;
    overflow: auto;
    visibility: hidden;
    width: 70%;
    z-index: 50;
}

#searchCountries li a {
    border: none;
    color: white;
    display: block;
    font-size: 14px;
    margin: 0;
    padding: 5px;
    text-decoration: none;
    width: 140px;
    height: 30px;
}

#searchCountries li a:hover {
    background-color: rgba(14, 200, 200, 0.5);
}


/* Select menu */
#attributeBoxes {
    border-collapse: collapse;
}

#attributeBoxes label {
    align-items: center;
    display: inline-flex;
    flex-wrap: wrap;
    margin-bottom: 10px;
}

#attributeBoxes input {
    cursor: pointer;
}

#attributeBoxes img {
    margin-left: 5px;
    margin-right: 5px;
    width: 40px;
}

#attributeBoxes tr td {
    border: 3px solid #46697a;
    padding: 10px;
}

#attributeBoxes tr:first-child td {
    border-top: 0;
}

#attributeBoxes tr:last-child td {
    border-bottom: 0;
}

#attributeBoxes tr td:first-child {
    border-left: 0;
}

#attributeBoxes tr td:last-child {
    border-right: 0;
}


/* Maps */
#mapDiv {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: auto;
    padding-top: 25px;
    width: 100%;
    padding-bottom: 30px;
}

#mapContainer {
    background: #add8e6;
    cursor: pointer;
    float: left;
    height: 0;
    padding-bottom: 33%;
    position: relative;
    width: 80%;
}

#mapCaption {
    color: #555;
    font-size: 14px;
    font-style: italic;
    margin-top: 8px;
}

.hoverpopup {
    background: #eeeeee;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2),
        0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 3px;
}

.hoverpopupFlag {
    width: 30px;
    height: 20px;
}


/* Buttons submit,... */
.buttonsForm {
    border-top: 4px solid #134359;
}

.buttonsForm button {
    background-color: rgba(0, 50, 50, 0.9);
    border: none;
    color: white;
    cursor: pointer;
    font-size: 16px;
    padding: 10px 20px;
    text-align: center;
    width: 100%;
}

.buttonsForm button:hover {
    background-color: rgba(14, 200, 200, 0.5);
    color: white;
}


/* Info table */
.countryTable table {
    border-collapse: collapse;
    margin: 10px;
    visibility: hidden;
    /* hidden by default, visible once the information is in */
}

.countryTable td,
th {
    border: 1.5px solid #46697a;
    padding: 5px;
}

.countryTable tr:nth-child(even) {
    background-color: #bcd6ed;
}

.countryTable tr:nth-child(odd) {
    background-color: #F1F1F1;
}

.countryTable td.empty {
    display: none;
}

.countryTable td.merged {
    grid-column: span 2;
}


/* Flag image */
/* Taken from https://www.w3schools.com/css/tryit.asp?filename=trycss_image_modal_js */
#countryFlag {
    cursor: pointer;
    height: auto;
    object-fit: contain;
    padding-top: 10px;
    transition: 0.3s;
    width: 30%;
    max-height: 300px; /* important to limit the height of Nepal's flag */
}

#countryFlag:hover {
    opacity: 0.7;
}

.imgZoom {
    background-color: rgba(0, 0, 0, 0.7);
    display: none;
    left: 0;
    height: 100%;
    overflow: auto;
    padding-top: 100px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

.zoomContent {
    display: block;
    margin: auto;
    max-width: 700px;
    width: 80%;
}

#imgCaption {
    display: block;
    color: #ccc;
    height: 150px;
    margin: auto;
    max-width: 700px;
    padding: 10px 0;
    text-align: center;
    width: 80%;
}

.zoomContent,
#imgCaption {
    animation-duration: 0.6s;
    animation-name: zoom;
}

@keyframes zoom {
    from {
        transform: scale(0.1)
    }

    to {
        transform: scale(1)
    }
}

.close {
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    position: absolute;
    right: 35px;
    transition: 0.3s;
    top: 15px;
}

.close:hover,
.close:focus {
    color: #bbb;
    cursor: pointer;
    text-decoration: none;
}


/* Table of countries with selected attributes */
.selectedCountryContainer {
    align-items: center;
    display: flex;
    flex-direction: column;
}

#selectedCountryTable {
    border-collapse: collapse;
    background-color: #add8e6;
    column-gap: 10px;
    display: grid;
    grid-auto-flow: row;
    grid-template-columns: auto auto auto;
}

#selectedCountryTable img {
    height: 75px;
    width: 100px;
}

#selectedCountryTable tr {
    align-items: center;
    background-color: #c3e3ef;
    display: inline-flex;
    cursor: pointer;
    width: 270px;
}

#selectedCountryTable tr td {
    padding: 5px;
}