/* {
    box-sizing: border-box;
    }

    #myInput {
        background-image: url('/css/searchicon.png');
        background-position: 10px 12px;
        background-repeat: no-repeat;
        width: 100%;
        font-size: 16px;
        padding: 12px 20px 12px 40px;
        border: 1px solid #ddd;
        margin-bottom: 12px;
    }

    #myUL {
        list-style-type: none;
        padding: 0;
        margin: 0;
    }

    #myUL li a {
        border: 1px solid #ddd;
        margin-top: -1px; 
        background-color: #f6f6f6;
        padding: 12px;
        text-decoration: none;
        font-size: 18px;
        color: black;
        display: block;
    }

    #myUL li a:hover:not(.header) {
        background-color: #eee;
    } 
*/

body {
    font-size: 18px;
    padding: 8px;
}

/* Horizontal navigation */
ul.horizontal-navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #f1f1f1;
}

ul.horizontal-navbar li {
    float: left;
}

ul.horizontal-navbar li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul.horizontal-navbar li a:hover {
    background-color: #555;
    color: white;
}

#search_countries {
    list-style-type: none;
}

#search_countries li a {
    margin: 0;
    border: 1px solid black;
    background-color: #f1f1f1;
    padding: 10px;
    display: block;
    color: black;
    text-decoration: none;
    width: 200px;

}

#search_bar {
    background-image: url('./search-icon.png');
    background-position: 10px 12px;
    background-repeat: no-repeat;
    background-size: 20px;
    width: 200px;
    font-size: 16px;
    padding: 12px 20px 12px 40px;
}

.container {
    display: inline-block;
}

#home {
    width: 30px;
}

#map {
    width: 90%;
}