<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='app.css') }}">
    <script src="{{ url_for('static', filename='app.js') }}"></script>
</head>

<body>
    <div class="row">
        <img src="../static/home-icon.png" id="home" class="column"></img>
        <div class="column right_align">
            <input type="text" id="search_bar" placeholder="Search country names...">
            <ul id="search_countries"></ul>
        </div>
    </div>


    <h1 class="header" id="country_name">{{ name }}</h1>

    <div class="row">
        <img id="country_flag" class="column">

        <ul class="column" id="attributes">
            <li> Other names: Republic of Chile </li>
            <li> Continent: South America </li>
            <li> Area: 756,102 sq km </li>
            <li> Population: 18,664,652 </li>

            <li> Colors:
                <ul>
                    <li> Blue </li>
                    <li> White </li>
                    <li> Red </li>
                </ul>
            </li>

            <li> Symbols:
                <ul>
                    <li> Quarters: 1 </li>
                    <li> Stars: 1 </li>
                    <li> Stripes: 2 </li>
                </ul>
            </li>
        </ul>
    </div>

    <img id="map" class="center" src="../static/chileWorldMap.png">

    <br>
</body>

</html>