<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='app.css') }}">
    <script type="module" src="{{ url_for('static', filename='country.js') }}"></script>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.3/d3.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/topojson/1.6.9/topojson.min.js"></script>
    <script src="{{ url_for('static', filename='datamaps.world.min.js') }}"></script>
</head>

<body>
    <div class="row">
        <a id="home"> <img src="../static/home-icon.png" class="home column"></img> </a>

        <div class="column rightAlign">
            <input type="text" id="searchBar" placeholder="Select country...">

            <ul id="searchCountries"></ul>
        </div>
    </div>

    <div class="fillColumnWithThreeRows">
        <div>
            <h1 class="header" id="countryName">{{ name }}</h1>
            <p id="errorMessage" class="textCenter"> </p>
        </div>

        <div>
            <img class="center" id="countryFlag">
            <div class="imgZoom" id="imgZoom">
                <span class="close">&times;</span>
                <img class="zoomContent" id="zoomedFlagImg">
                <div id="imgCaption"><em>Country: {{ name }}</em></div>
            </div>
        </div>

        <div class="fillRowWithThreeColumns countryTable">

            <table id="infoTable">
                <tr>
                    <th colspan="2"><strong>Country Info</strong></th>
                </tr>
            </table>

            <table id="colorsTable">
                <tr>
                    <th><strong>Colors</strong></th>
                </tr>
            </table>

            <table id="symbolTable">
                <tr>
                    <th colspan="2"><strong>Symbols</strong></th>
                </tr>
            </table>
        </div>
    </div>

    <div id="mapDiv">
        <div id="mapContainer"></div>

        <div id="mapCaption"></div>
    </div>

</body>

</html>