<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='app.css') }}">
    <script src="{{ url_for('static', filename='country.js') }}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.3/d3.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/topojson/1.6.9/topojson.min.js"></script>

    <script src="{{ url_for('static', filename='datamaps.world.min.js') }}"></script>
</head>

<body>
    <div class="row">
        <img src="../static/home-icon.png" id="home" class="column"></img>
        <div class="column right_align">
            <input type="text" id="search_bar" placeholder="Search country names...">
            <ul id="search_countries"></ul>
        </div>
    </div>


    <h1 class="header" id="country_name">{{ name }}</h1>

    <div class="row">
        <img id="country_flag" class="column">

        <ul class="column" id="attributes"></ul>
    </div>

    <div class="map" id="map_container" class="center"> </div>

    <br>
</body>

</html>