<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='app.css') }}">
    <script src="{{ url_for('static', filename='home.js') }}"></script>
</head>

<body>
    <div class="row">
        <img src="../static/home-icon.png" id="home" class="column">
        <div class="column right_align">
            <input type="text" id="search_bar" placeholder="Search country names...">

            <ul id="search_countries"></ul>
        </div>
    </div>
    <br>
    <fieldset>
        <legend>Explore the attributes of any country's flag:</legend>
        <div class="grid">
            <label><input type="checkbox" id="red">red</label>
            <label><input type="checkbox" id="green">green</label>
            <label><input type="checkbox" id="blue">blue</label>
            <label><input type="checkbox" id="gold_yellow">gold/yellow</label>
            <label><input type="checkbox" id="white">white</label>
            <label><input type="checkbox" id="black_grey">black/grey</label>
            <label><input type="checkbox" id="orange_brown">orange/brown</label>
            <label><input type="checkbox" id="pink_purple">pink/purple</label>
            <label><input type="checkbox" id="main_hue">main hue</label>
            <label><input type="checkbox" id="circles">circles</label>
            <label><input type="checkbox" id="crosses">crosses</label>
            <label><input type="checkbox" id="saltires">saltires</label>
            <label><input type="checkbox" id="quarters">quarters</label>
            <label><input type="checkbox" id="crescent_moon">crescent moon</label>
            <label><input type="checkbox" id="triangle">triangle</label>
            <label><input type="checkbox" id="inanimate_image">inanimate image</label>
            <label><input type="checkbox" id="animate_image">animate image</label>
            <label><input type="checkbox" id="text">text</label>
            <label><input type="checkbox" id="crest_emblem">crest/emblem</label>
            <label><input type="checkbox" id="border">border</label>
            <label><input type="checkbox" id="trapezoid">trapezoid</label>
        </div>
        <button>Submit</button>
    </fieldset>
    <br>
    <!-- <div class="country_info">
        <h1 class="header" id="country_name"> </h1>

        <div class="row">
            <img id="country_flag" class="column">

            <ul class="column" id="attributes">
                <li>..</li>
            </ul>
        </div>
    </div> -->
    <img id="map" class="center" src="../static/worldmap.png">

</body>

</html>