<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='app.css') }}">
    <script src="{{ url_for('static', filename='home.js') }}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.3/d3.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/topojson/1.6.9/topojson.min.js"></script>

    <script src="{{ url_for('static', filename='datamaps.world.min.js') }}"></script>

</head>

<body>
    <div class="row">
        <a id="home"> <img src="../static/home-icon.png" class="home column"></img> </a>
        <div class="column rightAlign">
        <!-- <div class="column"> -->
            <input type="text" id="searchBar" placeholder="Select country...">
            <ul id="searchCountries"></ul>
        </div>
    </div>

    <fieldset>
        <legend>Explore the attributes of any country's flag:</legend>
        <div class="row">
            <div class = "column"> 
                <div id = "attributeBoxes">
                    <label><input type="checkbox" id="red">red</label>
                    <label><input type="checkbox" id="green">green</label>
                    <label><input type="checkbox" id="blue">blue</label>
                    <label><input type="checkbox" id="gold_yellow">gold/yellow</label>
                    <label><input type="checkbox" id="white">white</label>
                    <label><input type="checkbox" id="black_grey">black/grey</label>
                    <label><input type="checkbox" id="orange_brown">orange/brown</label>
                    <label><input type="checkbox" id="pink_purple">pink/purple</label>
                    <!-- <br> -->
                    <label><input type="checkbox" id="circles">circles</label>
                    <label><input type="checkbox" id="crosses">crosses</label>
                    <label><input type="checkbox" id="saltires">saltires</label>
                    <label><input type="checkbox" id="quarters">quarters</label>
                    <label><input type="checkbox" id="crescent_moon">crescent moon</label>
                    <label><input type="checkbox" id="triangle">triangle</label>
                    <label><input type="checkbox" id="inanimate_image">inanimate image</label>
                    <label><input type="checkbox" id="animate_image">animate image</label>
                    <label><input type="checkbox" id="text">text</label>
                    <label><input type="checkbox" id="crest_emblem">crest/emblem</label>
                    <label><input type="checkbox" id="border">border</label>
                    <label><input type="checkbox" id="trapezoid">trapezoid</label>
                </div>
                <button id = "submit" >Submit</button>
            </div>
            <div class = "column">
                <label for = "continents">Choose a continent:</label>

                <select name = "continents" id="continents">
                    <option value="All">All</option>
                    <option value="Africa">Africa</option>
                    <option value="Asia">Asia</option>
                    <option value="Europe">Europe</option>
                    <option value="North America">North America</option>
                    <option value="Oceania">Oceania</option>
                    <option value="South America">South America</option>
                </select>
            </div>
        </div>

    </fieldset>
    <br>
    
    <div id = "mapDiv">
        <div id="mapContainer" class = "center"> </div>
    </div>

</body>

</html>